<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Egg Miner - help</title>
    <link rel="stylesheet" href="../styles/help.css" />
  </head>
  <body>
    <header>
      <a href="/index.html">back</a>
      <h1>Help</h1>
    </header>
    <main>
      <section>
        <h2>Goal</h2>
        <p>Reveal all squares without an egg to win.</p>
        <p>If you breake an egg, you lose the game.</p>
      </section>
      <section>
        <h2>Controls</h2>
        <div class="device">
          <div>Desktop</div>
          <div>
            <ul>
              <li>Left-click an empty square to reveal it.</li>
              <li>
                Right-click a no revealed square to mark it with a flag or a
                doubt.
              </li>
              <li>
                Double-click a square with the same number than the number of
                flagged adjacents squares (it can't have a adjacent doubt mark)
                to reveal the surrounds.
              </li>
              <li>Click the smiley face to start a new game.</li>
            </ul>
          </div>
        </div>
        <div class="device">
          <div>Phone</div>
          <div>
            <ul>
              <li>Tap an empty square to reveal it.</li>
              <li>
                Long press (more than one second) a no revealed square to mark
                it with a flag or a doubt.
              </li>
              <li>Tap the smiley face to start a new game.</li>
            </ul>
          </div>
        </div>
      </section>
    </main>
    <footer>
      Based in
      <a href="https://minesweeperonline.com/">Minesweeper Online</a>
      documentation.
    </footer>
  </body>
</html>
