#board {
  display: flex;
}

#board .square {
  width: 2em;
  height: 2em;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

#board img {
  width: 90%;
  height: 90%;
}
