#level {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#level.hide {
  display: none;
}

#level p {
  text-align: center;
}

#level div {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: space-around;
}

#level button {
  font-size: 1.2em;
  padding: 0.2em 0;
  width: 6em;
  border-radius: 0.5em;
  border-width: 0.2em;
}

#level .novice {
  background-color: lightblue;
  border-color: blue;
}

#level .normal {
  background-color: lightyellow;
  border-color: yellow;
}

#level .hard {
  background-color: lightcoral;
  border-color: red;
}

#game.hide {
  display: none;
}

#game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#restart img {
  width: 1.5em;
  height: 1.5em;
  margin-bottom: 0.5em;
}

#score {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 1em;
  padding: 0.5em 0;
  border-radius: 50px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 12px 12px 24px #c2c2c2, -12px -12px 24px #ffffff;
}

#score .state {
  display: flex;
  justify-content: center;
  align-items: center;
}

#score .state img {
  width: 1.2em;
  height: 1.2em;
}

#board {
  display: flex;
  gap: 0.1em;
}

#board > div {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
}

#board.ended {
  pointer-events: none;
}

#board .square {
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

#board .revealed {
  background-color: #e0e0e0;
  border-style: inset;
}

#board .unrevealed {
  background-color: white;
  border-style: outset;
}

#board img {
  width: 80%;
  height: 80%;
}
