@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:ital,wght@0,300;0,500;1,400&display=swap');

@import "page.css";
@import "game.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka One', cursive;
}

body {
  font-size: calc(20px + 1vw);
}

@media (max-width: 600px) {
  body {
    font-size: 5vw;
  }
}