main {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

#level h2 {
  color: orange;
  text-align: center;
  position: relative;
  top: 1em;
}

#level h1 {
  color: red;
  text-transform: uppercase;
  font-size: 4em;
  text-align: center;
}
