@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:ital,wght@0,300;0,500;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka One', cursive;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(13px + 1vw);
}

header {
  display: flex;
  flex-direction: column;
}

header h1 {
  font-size: 5em;
  color: red;
  text-align: center;
  user-select: none;
}

header a {
  text-align: center;
  margin: 1em 0;
  text-decoration: none;
  color: gray;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2vw;
  margin-top: 2em;
}

main > div {
  min-width: 15em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

main h2 {
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

main p {
  display: flex;
  gap: 2em;
}